*~

*.old
*.back
*.csv
*.sqlite3
*.xz

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

msys/key.txt
msys/msys/local_settings.py
msys/members/migrations/

client/db/*.json
client/config_endpoint.json
