{% extends "members/main.html" %}
{% load static %}
{% block content %}

<div class="page-header">
  <h1>New member</h1>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Create a new Member</h3>
  </div>
  <div class="panel-body">
	<form class="form-horizontal" role="form" action="{% url 'addMember' %}" method="post"> {% csrf_token %}
	  {% for field in mem_form %}
	  <fieldset>
		<div class="form-group">
		  {{ field.errors }}
		  {{ field.label_tag }} {{ field }}
		</div>
	  </fieldset>
	  {% endfor %}
	  <input type="submit" value="Submit" />
	</form>
  </div>
</div>
{% endblock %}
