{% extends "members/main.html" %}
{% load staticfiles %}
{% block content %}

<div class="page-header">
  <h1>Card Details</h1>
</div>

{% if card %}

<table class="table table-condensed table-hover">
  <tbody>
	
	<tr>
	  <td>
		Card ID (RFID)
	  </td>
	  <td>
		{{ card.unique_id }}
	  </td>
	</tr>

	<tr>
	  <td>
		Owner
	  </td>
	  <td>
		{{ card.member }}
	  </td>
	</tr>

  </tbody>
</table>

<a class="btn btn-default" href="{% url 'editCard' card.pk %}">Edit Card Details</a>
<a class="btn btn-default" href="{% url 'assignCard' card.pk %}">Assign Access Times</a>

{% if groups %}
<h3>
	This card grants access for the following (AccessGroups):
</h3>
<table class="table table-condensed table-hover">
  <tbody>
	{% for group in groups %}
	<tr>
	  <td>
		{{ group }}
	  </td>
	</tr>
	{% endfor %}

  </tbody>
</table>

{% endif %}

{% else %}

Card does not exist.

{% endif %} {# if card #}

{% endblock %}

