{% extends "members/main.html" %}
{% load staticfiles %}
{% block content %}

<div class="page-header">
  <h1>Card Details</h1>
</div>

{% if card %}

<table class="table table-condensed table-hover">
  <tbody>
	
	<tr>
	  <td>
		Card ID (RFID)
	  </td>
	  <td>
		{{ card.unique_id }}
	  </td>
	</tr>

	<tr>
	  <td>
		Owner
	  </td>
	  <td>
		<a href="{% url 'memberDetails' card.member.pk %}">{{ card.member }}</a>
	  </td>
	</tr>

  </tbody>
</table>

<a class="btn btn-default" href="{% url 'editCard' card.pk %}">Edit Card Details</a>
<a class="btn btn-default" href="{% url 'assignCard' card.pk %}">Assign Access Times</a>

{% if groups %}
<h3>
	This card grants access for the following (AccessGroups):
</h3>
<table class="table table-condensed table-hover">
  <tbody>
	{% for group in groups %}
	<tr>
	  <td>
		{{ group }}
	  </td>
	</tr>
	{% endfor %}

  </tbody>
</table>

{% endif %}

{% if t_cal %}

<table class="table">
    <thead>
        <tr>
            {% for day in t_cal.0 %}
                <th>{{day}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for t_row in t_cal|slice:"1:" %}
            <tr>
                <td>
                <b>{{t_row.0}}</b>
                </td>
            {% for t_cell in t_row|slice:"1:" %}
                    {% if t_cell %}
                        <td style="background-color:#009600">
                            {{t_cell}}
                        </td>
                    {% else %}
                        <td>
                            {{t_cell}}
                        </td>
                    {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

<a class="btn btn-default" href="{% url 'cardDetails' card.pk %}?table=full">Show Table</a>

{% endif %}

{% else %}

Card does not exist.

{% endif %} {# if card #}

{% endblock %}

