<!DOCTYPE html>{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Helios Makerspace Member System</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
  <script lang="javascript">
  $(function() {
    function go_en() {
      $(":lang(en)").show();
      $(":lang(fr)").hide();
      document.cookie = "lang_pref=en; expires=Wed, 07 Sep 2039 11:47:35 GMT; path=/"
    }
    function go_fr() {
      $(":lang(en)").hide();
      $(":lang(fr)").show();
      document.cookie = "lang_pref=fr; expires=Wed, 07 Sep 2039 11:47:35 GMT; path=/"
    }

    $("#do_en").click(go_en);
    $("#do_fr").click(go_fr);

    if (document.cookie.match(/lang_pref=en/)) {
      go_en();
    } else {
      go_fr();
    }
  });
  </script>
  <style type="text/css">
  .navbar {
  margin-bottom: 30px;
  }
  </style>
</head>
<body>

  <!-- NAVBAR -->
  <nav class="navbar navbar-default">
	<div class="container-fluid">
      <div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="{% url 'memberList' %}">Helios Member System</a>
      </div>
	  
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
          <li><a href="{% url 'memberList' %}">Members</a></li>
          <li><a href="{% url 'membershipList' %}">Memberships</a></li>
		  <li><a href="#">Access Cards</a></li>
          <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li>
			</ul>
          </li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'userLogout' %}">Login/Logout</a></li>
		</ul>
      </div>
	</div>
  </nav>
  <!-- end NAVBAR -->

  
  <div id="content" class="container">
	{% block content %}Error 418 I am a teapot{% endblock %}
  </div>
</body>
</html>
