<!DOCTYPE html>{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Helios Makerspace Member System</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="en">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script>
  $(document).ready(function() {
    $('.datepicker').datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1914:2099"
    });

    $('.timepicker').timepicker({ 'timeFormat': 'H:i:s' });

  });
  </script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.js"></script>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>

  <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}" />
  <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
  <script lang="javascript">
  $(function() {
    function go_en() {
      $(":lang(en)").show();
      $(":lang(fr)").hide();
      document.cookie = "lang_pref=en; expires=Wed, 07 Sep 2039 11:47:35 GMT; path=/"
    }
    function go_fr() {
      $(":lang(en)").hide();
      $(":lang(fr)").show();
      document.cookie = "lang_pref=fr; expires=Wed, 07 Sep 2039 11:47:35 GMT; path=/"
    }

    $("#do_en").click(go_en);
    $("#do_fr").click(go_fr);

    if (document.cookie.match(/lang_pref=en/)) {
      go_en();
    } else {
      go_fr();
    }
  });
  </script>
  <style type="text/css">
  .navbar {
  margin-bottom: 30px;
  }
  </style>
</head>
<body>

  <!-- NAVBAR -->
  <nav class="navbar navbar-default">
	<div class="container-fluid">
      <div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="{% url 'memberList' %}">Helios Member System</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
		  <!--
			  <li><a href="{% url 'memberList' %}">Members</a></li>
		  <li><a href="{% url 'membershipList' %}">Memberships</a></li>
		  -->
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Member Control <span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu">
              <li><a href="{% url 'memberList' %}">Member List</a></li>
              <li><a href="{% url 'addMember' %}">Create New Member</a></li>
              <li class="divider"></li>
              <li><a href="{% url 'membershipList' %}">Membership List</a></li>
			  <li><a href="{% url 'addMembership' %}">Create New Membership</a></li>
			  <li class="divider"></li>
			  <li><a href="{% url 'promoList' %}">Promotions</a></li>
			  <li><a href="{% url 'addPromo' %}">Add Promotion</a></li>
			</ul>
          </li>
          <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Access Control <span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu">
              <li><a href="{% url 'cardList' %}">Access Card List</a></li>
              <li><a href="{% url 'addCard' %}">New Access Card</a></li>

			  <li class="divider"></li>
			  <li><a href="{% url 'blklst' %}">Time Block List</a></li>
			  <li><a href="{% url 'groupList' %}">Access Group List</a></li>
			</ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Logs <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{% url 'eventLog' %}">Event Log</a></li>
              <li><a href="{% url 'accessLog' %}">Access Log</a></li>
			  <li class="divider"></li>
			  <li><a href="{% url 'incidentReport' %}">Report Incident</a></li>
			  <li><a href="{% url 'incidentList' %}">Incident List</a></li>
			</ul>
          </li>
		</ul>

    <ul class="nav navbar-nav">
      <li><a href="http://heliosmakerspace.ca/staff/">Staff Material</a></li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
		  {% if logged_in %}
          <li><a href="{% url 'userLogout' %}">Logout</a></li>
		  {% else %}
		  <li><a href="{% url 'userLogin' %}">Log in</a></li>
		  {% endif %}
		</ul>
      </div>
	</div>
  </nav>
  <!-- end NAVBAR -->

  {% if msg_info %}
  <div class="panel panel-info">
	<div class="panel-heading">
      <h3 class="panel-title">Info</h3>
	</div>
	<div class="panel-body">
      {{msg_info}}
	</div>
  </div>
  {% endif %}

  {% if msg_err %}
  <div class="panel panel-danger">
	<div class="panel-heading">
      <h3 class="panel-title">Error</h3>
	</div>
	<div class="panel-body">
      {{msg_err}}
	</div>
  </div>
  {% endif %}

  <div id="content" class="container">
	{% block content %}<!--Error 418 I am a teapot-->{% endblock %}
  </div>
</body>
</html>
