{% extends "members/main.html" %}
{% load staticfiles %}
{% block content %}

<h1>Check-in</h1>
{% if good %}
<!-- <h2 style="color: green; font-size: 50px;">ALL GOOD!</h2> -->
<div class="alert alert-dismissible alert-success">
		<strong>All Good!</strong> Member checked in with no issues</a>.
</div>
{% else %}
<!-- <h2 style="color: red; font-size: 50px;">Review required...</h2> -->
<div class="alert alert-dismissible alert-danger">
		This member's account requires staff attention.
</div>
{% endif %}



{% if member %}
<table class="table table-hover">
	<thead>
			<th>Member</th>
	</thead>
	<tbody>
		<tr>
			<th scope="row">Name</th>
			<td><a href="{% url 'memberDetails' member.pk %}">{{member.first_name}} {{member.last_name}}</a></td>
		</tr>
		{% if member.photo %}
		<tr>
			<th scope="row">Photo</th>
			<td><img class="usr-photo" src="{{member.photo.url}}"></td>
		</tr>
		{% endif %}
		<tr>
			<th scope="row">Notes</th>
			<td>{{member.brief_notes}}</td>
		</tr>
	</tbody>
	
</table>
{% endif %}


<br>
<br>
<br>
<br>





{% if member %}

<table class="table table-hover ">
	<thead>
		
	</thead>
  <tbody>
	{% if member %}
		<tr>
			<td>
			Owner
			</td>
			<td>
			{{ member.first_name }}
			</td>
		</tr>
	{% endif %}
	{% if email %}
	<tr>
	  <td>
		Customer Email
	  </td>
	  <td>
		{{ email }}
	  </td>
  </tr>
	{% endif %}
	{% if description %}
	<tr>
	  <td>
		Description
	  </td>
	  <td>
		{{ description }}
	  </td>
  </tr>
	{% endif %}
	{% if member.brief_notes %}
	<tr>
			<td>
			Notes
			</td>
			<td>
			{{ member.brief_notes }}
			</td>
		</tr>
	{% endif %}
	{% if subs %}
	<table class = "table table-striped">
	  <thead>
			<tr>
				<th>Subscriptions</th>
				<th>ID</th>
			</tr>
			</thead>
	  <tbody>
			{% for sub in subs %}
			<tr>
				<td>{{ sub.name }}</td>
				<td>{{ sub.id }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endif %}
  </tbody>
</table>

{% else %}

Member does not exist.

{% endif %} {# if member #}

{% endblock %}

