{% extends "members/main.html" %}
{% load staticfiles %}
{% block content %}

<h1>Check-in</h1>
{% if good and member.has_active_membership %}
<!-- <h2 style="color: green; font-size: 50px;">ALL GOOD!</h2> -->
<div class="alert alert-dismissible alert-success">
		<strong>All Good!</strong> Member is checked in.</a>.
</div>
{% else %}
<!-- <h2 style="color: red; font-size: 50px;">Review required...</h2> -->
<div class="alert alert-dismissible alert-danger">
		This member's account requires staff attention.
</div>
{% endif %}



{% if member %}
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Member</h3>
	</div>
	<div class="panel-body">
		<table class="table table-striped table-hover">
			<tbody>
				<tr>
					<th scope="row">Name</th>
					<td><a href="{% url 'memberDetails' member.pk %}">{{member.first_name}} {{member.last_name}} 
						{% if member.has_active_membership %}
						<span class="badge badge-primary">Active</span>
						{% else %}
						<span class="badge badge-warning">Inactive</span>
						{% endif %}</a></td>
				</tr>
				{% if member.photo %}
				<tr>
					<th scope="row">Photo</th>
					<td><img class="usr-photo" src="{{member.photo.url}}"></td>
				</tr>
				{% endif %}
				<tr>
					<th scope="row">Notes</th>
					<td>{{member.brief_notes}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endif %}

{% if subs %}


<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Subscriptions</h3>
	</div>
	<div class="panel-body">
		<table class="table table-striped table-hover">
			<thead>
				<th>Name</th>
				<th>Quantity</th>
			</thead>
			<tbody>
				{% for sub in subs %}
				<tr>
					<td>{{sub.plan.name}}</td>
					<td>{{sub.quantity}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>


{% endif %} {# if subs #}

{% endblock %}

